.select-field {
    width: fit-content;
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
}

.control-column {
    width: fit-content;
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
}

.trash {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;

}

.trash svg {
    cursor: pointer
}

#removeRows input {
    width: 5em
}

#removeColumns input {
    width: 5em
}