.select-field {
    width: fit-content;
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
}

.control-column {
    width: fit-content;
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
}

#removeRows input {
    width: 5em
}